
.my_title{
    color: white;
}
.my_link{
    color: white;
}

.my_color{
    background-color: #2d3f50;
}

.my_color_footer{
    background-color: #3b546c;
}

.my_cont_fluid{
    background-color: #1bbd9c;
}

.my_decoration{
    border-top: 3px solid white;
    width: 80px;
}

.my_decoration_b{
    border-top: 3px solid black;
    width: 80px;
}

.my_fontsize{
    font-size: 11px;
}

hr{
    width: 20%;
    text-align: center;
    margin-left: 40%;
}

#start_b{
    color: #1bbb9a;
}

.col-4 i{
    width: 20px;
    height: 20px;
}
